@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
@model AstrologyWebsite.DTOs.ReaderDTO;

<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Create Readers</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboards</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Readers">Readers</a></li>
                            <li class="breadcrumb-item active">Create Readers</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <form asp-controller="Reader" asp-action="AddReader" id="reader-form" autocomplete="off" class="needs-validation" method="post">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <input type="hidden" class="form-control" id="formAction" name="formAction" value="add">
                            <input type="text" class="form-control d-none" id="readers-id-input">
                        </div>
                        <div class="mb-3" id="modal-id">
                            <label asp-for="FullName" for="FullName" class="form-label">
                                Full name</label>
                            <input asp-for="FullName" type="text" id="FullName" class="form-control" placeholder="Full name" required />
                        </div>
                        <div class="mb-3" id="modal-id">
                            <label asp-for="Password" for="Password" class="form-label">
                                Password
                            </label>
                            <input asp-for="Password" type="text" id="Password"  class="form-control" placeholder="Password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Gender" for="gender" class="form-label">Gender</label>
                            <select asp-for="Gender" class="form-control" data-trigger required id="gender">
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                            </select>
                        </div>
                        <br />
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label">Phone</label>
                            <input asp-for="PhoneNumber" type="number" id="PhoneNumber" class="form-control" placeholder="Phone" required />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" id="email" class="form-control" placeholder="Email" required />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Dob" class="form-label">Dob</label>
                            <input asp-for="Dob" type="date" id="dob" class="form-control" data-provider="flatpickr" required data-date-format="d M, Y" data-enable-time required placeholder="Select date" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Experience" class="form-label">Experience</label>
                            <input asp-for="Experience" type="text" class="form-control" placeholder="Experience" required />
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Readers Gallery</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <h5 class="fs-14 mb-1">Readers Image</h5>
                            <div class="text-center">
                                <div class="position-relative d-inline-block">
                                    <div class="position-absolute top-100 start-100 translate-middle">
                                        <label for="readers-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                            <div class="avatar-xs">
                                                <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                                                    <i class="ri-image-fill"></i>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="form-control d-none" value="" id="readers-image-input" type="file" accept="image/png, image/gif, image/jpeg">
                                    </div>
                                    <div class="avatar-lg">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="#" id="readers-img" class="avatar-md h-auto" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul class="list-unstyled mb-0" id="dropzone-preview">
                                <li class="mt-2" id="dropzone-preview-list">
                                    <!-- This is used as the file preview template -->
                                    <div class="border rounded">
                                        <div class="d-flex p-2">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar-sm bg-light rounded">
                                                    <img data-dz-thumbnail class="img-fluid rounded d-block" src="#" alt="Readers-Image" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <div class="pt-1">
                                                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                                </div>
                                            </div>
                                            <div class="flex-shrink-0 ms-3">
                                                <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- end dropzon-preview -->
                        </div>
                    </div>
                </div>
                <!-- end card -->

                   
                <div class="text-end mb-3">
                    <button type="submit" class="btn btn-success w-sm">Submit</button>
                </div>
            <!-- end col -->

            </div>
            <!-- end row -->
        </form>
    </div>

</div>

<script>
    ClassicEditor
        .create(document.querySelector('#ckeditor-classic'))
        .catch(error => {
            console.error(error);
        });
</script>