@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
@model AstrologyWebsite.DTOs.EditReaderDto;

<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Edit Readers</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboards</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Readers">Readers</a></li>
                            <li class="breadcrumb-item active">Edit Readers</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <form asp-controller="Reader" asp-action="EditReader" id="reader-form" autocomplete="off" class="needs-validation" novalidate method="post">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <input type="hidden" class="form-control" id="formAction" name="formAction" value="add">
                            <input type="text" class="form-control d-none" id="readers-id-input">
                        </div>
                        <div class="mb-3" id="modal-id">
                            <label asp-for="FullName" for="FullName" class="form-label">
                                Full name</label>
                            <input asp-for="FullName" type="text" id="FullName" name="FullName" class="form-control" placeholder="Full name" required />
                        </div>
                        <div>
                            <label asp-for="Gender" for="gender" class="form-label">Gender</label>
                            <select asp-for="Gender" class="form-control" data-trigger name="gender" required id="gender">
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                            </select>
                        </div>
                        <br />
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label">Phone</label>
                            <input asp-for="PhoneNumber" type="number" id="PhoneNumber" name="PhoneNumber" class="form-control" placeholder="Phone" required />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" id="email" name="email" class="form-control" placeholder="Email" required disabled/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Dob" class="form-label">Dob</label>
                            <input asp-for="Dob" type="date" id="dob" name="dob" class="form-control" data-provider="flatpickr" required data-date-format="d M, Y" data-enable-time required placeholder="Select date" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Status" class="form-label">Status</label>
                            <select asp-for="Status" asp-items="ViewBag.StatusList" class="form-control"></select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Experience" class="form-label">Experience</label>
                            <input asp-for="Experience" type="text"  class="form-control" placeholder="Experience" required />
                        </div>
                    </div>
                </div>
                <!-- end card -->

              
                <!-- end card -->

                   
                <div class="text-end mb-3">
                    <button type="submit" class="btn btn-success w-sm">Submit</button>
                </div>
            <!-- end col -->

            </div>
            <!-- end row -->
        </form>
    </div>

</div>

<script>
    ClassicEditor
        .Edit(document.querySelector('#ckeditor-classic'))
        .catch(error => {
            console.error(error);
        });
</script>