@model AstrologyWebsite.ViewModels.AccountPageViewModel
    <!--====================  End of header area  ====================-->
    <!-- breadcrumb-area start -->
</style>
<div class="breadcrumb-area" style="padding-top: 130px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-start">
                            <h2 class="breadcrumb-title">Login</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <!-- breadcrumb-list start -->
                            @* <ul class="breadcrumb-list text-center text-sm-end"> *@
                            @*     <li class="breadcrumb-item"><a href="index.html">Home</a></li> *@
                            @*     <li class="breadcrumb-item active">Login</li> *@
                            @* </ul> *@
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->





    <div id="main-wrapper">
        <div class="site-wrapper-reveal border-bottom">

            <div class="my-account-page-warpper section-space--ptb_120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 m-auto">
                            <div class="myaccount-box-wrapper">
                                <div class="helendo-tabs">
                                    <ul class="nav" role="tablist">
                                        <li class="tab__item nav-item active">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#tab_list_06" role="tab">Login</a>
                                        </li>
                                        <li class="tab__item nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab_list_07" role="tab">Our Register</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="tab-content content-modal-box">
                                    <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
                                        <form asp-action="Login" asp-controller="Account" class="account-form-box" method="post">
                                            <h6>Login your account</h6>
                                            <div class="single-input">
                                    
                                             <input asp-for="Login.Email" placeholder="Email">
                                            <span asp-validation-for="Login.Email" class="text-danger"></span>
                                            </div>
                                            <div class="single-input">
                                            
                                                <input asp-for="Login.Password" type="password" placeholder="Password">
                                            <span asp-validation-for="Login.Password" class="text-danger"></span>
                                            </div>
                                            <div class="checkbox-wrap mt-10">
                                                <label class="label-for-checkbox inline mt-15">
                                                    <input asp-for="Login.RememberMe" class="input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                                </label>
                                                <a href="#" class=" mt-10">Lost your password?</a>
                                            </div>
                                            <div class="button-box mt-25">
                                                <input type="submit" value="Log in" class="btn btn--full btn--black"/></input>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="tab_list_07" role="tabpanel">

                                        <form asp-action="Register" class="account-form-box" asp-controller="Account">
                                            <h6>Register An Account</h6>
                                         
                                            <div class="single-input">
                                                <input type="text" placeholder="Email address">
                                            </div>
                                            <div class="single-input">
                                                <input type="password" placeholder="Password">
                                            </div>
                                            <div class="single-input">
                                                <input type="password" placeholder="Confirm Password">
                                            </div>
                                            <p class="mt-15">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" class="privacy-policy-link" target="_blank">privacy policy</a>.</p>
                                            <div class="button-box mt-25">
                                                <a href="#" class="btn btn--full btn--black">Register</a>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
